# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan

# Python
__pycache__/
*.pyc
.env
venv/

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Airflow
logs/
plugins/

# Azure
*.pem
*.cer
*.pfx

# Misc
.DS_Store
*.log

.venv